
<%= live_component @socket, KefisWeb.Admin.ShellDashboardLive, id: "warehouse_dashboard_shell", component: KefisWeb.Admin.Order.ShowLive, component_details: %{id: "lol", order_id: "3", live_action: @live_action} %>


