<%= if @live_action in [:incoming]  do%>
<%= live_component @socket, KefisWeb.Warehouse.ShellDashboardLive, id: "incoming_page", component: KefisWeb.Warehouse.IncomingLive, component_details: %{id: "dsjkdsjk"} %>
<% end %>


<%= if @live_action in [:outgoing]  do%>
<%= live_component @socket, KefisWeb.Warehouse.ShellDashboardLive, id: "incoming_page", component: KefisWeb.Warehouse.OutgoingLive, component_details: %{id: "dsjkdsjk"} %>
<% end %>