<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kefis", suffix: " · Cloud Supply Chain" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
       <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 
       <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark navbar-theme-primary mb-4" style={display(@conn)}>
    <div class="container position-relative">
        <a class="navbar-brand me-lg-3" href="#">
            <img class="navbar-brand-dark" src="../../assets/brand/light.svg" alt="Kefis">
            <img class="navbar-brand-light" src="../../assets/brand/dark.svg" alt="Kefis">
        </a>
        <div class="navbar-collapse collapse w-100" id="navbar-default-primary">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="#">
                            <img src="../../assets/img/brand/dark.svg" alt="Kefis">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <i class="fas fa-times" data-toggle="collapse" role="button"
                            data-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                            aria-expanded="false" aria-label="Toggle navigation"></i>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                

                    <%= if @current_user do %>
                    
      <li class="nav-item"><%= link "Sign out", to: Routes.logout_path(@conn, :delete), method: :delete, class: "nav-link" %></li>     
    <% else %>
    <li class="nav-item">
                <%= link("Home", to: "/", class: "nav-link") %>
                </li>
                <li class="nav-item">
                <%= link("About", to: "/", class: "nav-link") %>
                </li>
                <li class="nav-item">
                <%= link("Contact", to: "/", class: "nav-link") %>
                </li>
      <li class="nav-item"><%= link "Sign in", to: Routes.login_path(@conn, :new), class: "nav-link" %></li>
    <% end %>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler ms-2" type="button" data-toggle="collapse"
                data-target="#navbar-default-primary" aria-controls="navbar-default-primary"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>







    <%= @inner_content %>

  </body>
</html>
