
<%= render("dashboard_nav.html", conn: @conn) %>


<main class="content">


<%= render("dashboard_upper_nav.html", conn: @conn)  %>


<%= render("dashboard_description.html", dashboard_page_title: "Your Products", dashboard_page_description: "Showing all products") %>


<%= live_render(@conn, KefisWeb.Supplier.Product.IndexLive, session: %{
          "user" => @user,
          "partner" => @partner
        }) %>
        

</main>