
<%= live_component @socket, KefisWeb.Driver.DashboardNav, id: "dash-nav", title: "Dashboard ", component: KefisWeb.Driver.IndexLive, component_info: %{id: "dashboard-components"}, description: "none" %>
