

<%= render(KefisWeb.PageView, "dashboard_nav.html") %>


<main class="content">


<%= render(KefisWeb.PageView, "dashboard_upper_nav.html") %>
<%= render(KefisWeb.PageView, "dashboard_description.html", dashboard_page_title: "New Partner", dashboard_page_description: "Add a new supplier or retailer") %>
 
<%= render "partner_form.html", Map.put(assigns, :action, Routes.admin_path(@conn, :create_new_partner)) %>


</main>