
<%= render("dashboard_nav.html", conn: @conn) %>


<main class="content">


<%= render("dashboard_upper_nav.html", conn: @conn)  %>
<%= render( "dashboard_description.html", dashboard_page_title: "Listing Orders", dashboard_page_description: "A list of all orders") %>
 
<%= live_render(@conn, KefisWeb.Admin.Order.IndexLive) %>

</main>