<%= live_component @socket, KefisWeb.Retailer.ShellDashboardLive,user: @user, id: "warehouse_dashboard_shell", component: KefisWeb.Retailer.DashboardLive, component_details: %{id: "lol", warehouse: "", user: ""} %>


