<%= live_component @socket, KefisWeb.Retailer.ShellDashboardLive,user: @user, id: "new_order_dashboard", component: KefisWeb.Retailer.OrderNewLive, component_details: %{id: "new_order_component", live_action: @live_action, user: @user} %>

